fastapi
uvicorn[standard]
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-logging
google-adk
python-dotenv
requests
langchain-google-vertexai
langchain-community
langgraph
sqlalchemy-bigquery
tabulate
matplotlib
db-dtypes
