streamlit
langchain
langchain-community
langchain_experimental
langchain-google-vertexai
langchain-google-genai
langchain-postgres
psycopg[binary]
langgraph
sqlalchemy-bigquery
pandas
matplotlib
seaborn
google-cloud-bigquery
db-dtypes